@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

.contact-div {
  font-family: "Montserrat", sans-serif;
  background-color: rgba(255, 255, 255, 0.05);
  height: 50vh;
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 400vh;
  text-align: left;
}

.contact-me {
  position: relative;
  margin-left: 10vw;
  margin-top: 7.5vh;
  width: 30vw;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-size: 12vh;
  font-weight: 800;
  color: rgba(255, 255, 255, 0.8);
}

.contact-me img {
  margin-left: 1vw;
}

.contact-form {
  width: 30vw;
  position: relative;
  margin-left: 55vw;
  margin-top: -32.5vh;
  font-family: "Montserrat", sans-serif;
}

.contact-form label {
  color: #fff;
  font-weight: 500;
  font-size: 1.75vh;
  width: 50vw;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.msg-input {
  height: 10vh;
}

.contact-form input {
  margin: 10px 0 30px 0;
  width: 30vw;
  border-radius: 2.5px;
}

.contact-form textarea {
  margin: 10px 0 10px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1vw;
  width: 30vw;
  border-radius: 2.5px;
}

.send-button {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2.5vh;
  text-align: left;
  margin-top: 10px;
  padding-left: 10px;
  width: 10vw;
  height: 4vh;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 5px;
  border: 2px solid #09e4bd;
  color: #09e4bd;
  cursor: pointer;
}

.status-text {
  padding-top: 1.5vh;
  height: 3vh;
  width: 30vw;
  font-weight: 600;
  font-size: 1.25vw;
  letter-spacing: 1px;
  color: rgb(101, 236, 83);
}

.send-button:hover {
  background-color: rgb(133, 255, 229);
  color: #16161a;
  transition: 0.5s;
}

input[type="text"] {
  font-family: "Montserrat", sans-serif;
  padding-left: 5px;
  font-size: 1vw;
}

@media (max-width: 768px) {
  .contact-div {
    font-family: "Montserrat", sans-serif;
    background-color: rgba(255, 255, 255, 0.05);
    height: 100vh;
    width: 162.75vw;
    position: absolute;
    z-index: -1;
    top: 640vh;
    text-align: left;
  }

  .contact-me img {
    position: absolute;
    left: 45vw;
    top: 15vh;
  }

  .contact-form {
    width: 100vw;
    position: relative;
    margin-left: 12vw;
    margin-top: 5vh;
    font-family: "Montserrat", sans-serif;
  }

  .contact-form input {
    width: 120vw;
    height: 3vh;
  }

  .contact-form textarea {
    width: 120vw;
    height: 15vh;
  }

  .send-button {
    width: 90vw;
    height: 6vh;
  }
}
