@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

.contact-div {
  font-family: "Montserrat", sans-serif;
  background-color: rgba(255, 255, 255, 0.05);
  height: 50vh;
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 400vh;
  text-align: left;
}

.contact-me {
  position: relative;
  margin-left: 10vw;
  margin-top: 10vh;
  width: 30vw;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-size: 12vh;
  font-weight: 800;
  color: rgba(255, 255, 255, 0.8);
}

.contact-me img {
  margin-left: 1vw;
}

.contact-form {
  width: 30vw;
  position: relative;
  margin-left: 55vw;
  margin-top: -30vh;
  font-family: "Montserrat", sans-serif;
}

.contact-form label {
  color: #fff;
  font-weight: 500;
  font-size: 1.75vh;
  width: 50vw;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.msg-input {
  height: 10vh;
}

.contact-form input {
  margin: 10px 0 10px 0;
  width: 30vw;
  border-radius: 2.5px;
}

.contact-form textarea {
  margin: 10px 0 10px 0;
  width: 30vw;
  border-radius: 2.5px;
}

.send-button {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2.5vh;
  text-align: left;
  margin-top: 10px;
  padding-left: 10px;
  width: 10vw;
  height: 4vh;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 5px;
  border: 1px solid #09e4bd;
  color: #09e4bd;
  cursor: pointer;
}

.send-button:hover {
  background-color: rgb(133, 255, 229);
  color: #16161a;
  transition: 0.5s;
}
