@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

.navigation-bar {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}

.navlist {
  display: flex;
  flex-direction: row;
  list-style: none;
  position: absolute;
  right: 5vw;
  font-size: 1.55vh;
  font-weight: 500;
}

.navlist li {
  padding-top: 2.5vh;
  padding-left: 8vw;
}

.navlist li a {
  text-decoration: none;
  color: #ffffff;
}

.navlist li a:hover {
  color: #09e4bd;
}
