@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

.navigation-bar {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}

.navlist {
  display: flex;
  flex-direction: row;
  list-style: none;
  position: absolute;
  right: 1vw;
  font-size: 1.55vh;
  font-weight: 500;
}

.navlist-li {
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  padding-left: 4vw;
  padding-right: 4vw;
  cursor: pointer;
}

.nonscrolled {
  background-color: #16161a;
  color: #fff;
}

.scrolled {
  background-color: #09e4bd;
  color: #16161a;
}

.navlist li a {
  text-decoration: none;
}

.navlist li a:hover {
  font-size: 1.75vh;
  font-weight: 600;
}
