@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

.projects {
  position: absolute;
  top: 205vh;
}

.projects span {
  font-family: "Montserrat", sans-serif;
  color: rgba(22, 22, 26, 0.8);
  font-weight: 800;
  font-size: 4vw;
  position: absolute;
  z-index: 2;
  left: 6.5vw;
}

.card-list {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-left: 5vw;
  overflow-x: scroll;
  width: 89.5vw;
}

.card-list::-webkit-scrollbar {
  width: 3px; /* width of the entire scrollbar */
}

.card-list::-webkit-scrollbar-track {
  background: #16161a; /* color of the tracking area */
}

.card-list::-webkit-scrollbar-thumb {
  background-color: rgba(9, 228, 189, 0.75); /* color of the scroll thumb */
  border-radius: 2px; /* roundness of the scroll thumb */
  border: 3px solid #16161a; /* creates padding around scroll thumb */
}

@media (max-width: 768px) {
  .projects {
    position: absolute;
    top: 135vh;
  }

  .projects span {
    font-family: "Montserrat", sans-serif;
    color: #09e4bd;
    font-weight: 800;
    font-size: 10vh;
    position: absolute;
    z-index: 2;
  }

  .card-list {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 1.5vw;
  }
}
