* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #16161a;
  height: 400vh;
  color: #09e4bd;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
