* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #16161a; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(9, 228, 189, 0.5); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid #16161a; /* creates padding around scroll thumb */
}

body {
  background-color: #16161a;
  height: 400vh;
  color: #09e4bd;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.block-1 {
  background-color: #09e4bd;
  height: 140vh;
  width: 30vw;
  position: absolute;
  top: 75vh;
  left: 5vw;
}

.block-2 {
  background-color: #09e4bd;
  height: 115vh;
  width: 30vw;
  position: absolute;
  top: 285vh;
  right: 5vw;
}

.scroll-icon:hover {
  transition: all ease-in-out 0.35s;
  transform: scale(1.15);
}

@media (max-width: 768px) {
  .block-1 {
    background-color: #09e4bd;
    height: 75vh;
    width: 30vw;
    position: absolute;
    top: 50vh;
    left: 5vw;
  }

  .block-2 {
    display: none;
  }

  .scroll-icon {
    visibility: hidden;
  }
}
